@model ModelObject
@{
    ViewBag.Title = "title";
}

<h1>@Model.Name detail (@Model.Type)</h1>

<table class="table table-bordered table-hover" id="ajaxContent">
    <thead>
    <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Value</th>
    </tr>
    </thead>
    <tbody>

    @foreach (ModelObject obj in Model.Values)
    {
        <tr>
            <td>@obj.Name</td>
            <td>@obj.Type</td>
            <td>
                @if (@obj.Value != null)
                {
                    @obj.Value
                }
                else
                {
                    <button>@Html.ActionLink("Detail", "DetailData", "Data", new {path = ViewBag.Path + "/" + obj.Name})</button>
                }

            </td>
        </tr>
    }

    </tbody>
</table>

<div class="row align-content-center">
    @if (ViewBag.Pages != null && ViewBag.Type != "InlineObject" && ViewBag.Type != "relValue")
    {
        <nav aria-label="Page navigation example">
            <ul class="pagination align-items-center">
                <li class="@(ViewBag.CurrentPage != 1 ? "active" : "disabled") page-item">
                    <a href="@Url.Action("DetailData", "Data", new {page = 1, path = ViewBag.Path})" class="page-link">First</a>
                </li>
                <li class="@(ViewBag.CurrentPage > 1 ? "active" : "disabled") page-item">
                    <a href="@Url.Action("DetailData", "Data", new {page = @ViewBag.CurrentPage - 1, path = ViewBag.Path})" class="page-link">Prev</a>
                </li>
                @for (var i = 1; i <= ViewBag.Pages; i++)
                {
                    <li class="@(ViewBag.CurrentPage == i ? "active" : "") page-item">
                        <a href="@Url.Action("DetailData", "Data", new {page = i, path = ViewBag.Path})" class="page-link">@i</a>
                    </li>
                }
                <li class="@(ViewBag.CurrentPage < ViewBag.Pages ? "active" : "disabled") page-item">
                    <a href="@Url.Action("DetailData", "Data", new {page = @ViewBag.CurrentPage + 1, path = ViewBag.Path})" class="page-link">Next</a>
                </li>
                <li class="@(ViewBag.CurrentPage != ViewBag.Pages ? "active" : "disabled") page-item">
                    <a href="@Url.Action("DetailData", "Data", new {page = ViewBag.Pages, path = ViewBag.Path})" class="page-link">Last</a>
                </li>
            </ul>
        </nav>
    }

</div>

<div>
    <button type="button">@Html.ActionLink("Back to table", "Index")</button>
</div>