@model List<WebApplication3.Models.v4.BaseObjectV4>
@{
    ViewData["Title"] = "Base data";
}

<h1>Base data types table</h1>

<div>
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Type
            </th>
            <th>
                Value
            </th>
        </tr>
        </thead>
        <tbody>
        @foreach (var baseObject in Model)
        {
            <tr>
                <td>@baseObject.Name</td>
                <td>@baseObject.Type</td>
                <td>
                    <a href="@Url.Action("SpecificData", "Data", new {})">
                        @using (Html.BeginForm("SpecificData", "Data", FormMethod.Post))
                        {
                            @Html.Hidden("Name", (object) baseObject.Name)
                            @Html.Hidden("Type", (object) baseObject.Type)
                            <input type="submit" value="Detail"/>
                        }
                    </a>
                </td>
            </tr>
        }
        </tbody>
    </table>

</div>