@model List<ModelObject>
@{
    ViewData["Title"] = "Detail";
}

<h1>@ViewBag.Name detail (@ViewBag.Type)</h1>

<div class="row align-content-center">
    <a href="@Url.Action("GetJson", "Data", new {})">
        @using (Html.BeginForm("GetJson", "Data", FormMethod.Post))
        {
            @Html.Hidden("Name", (object) @ViewBag.Name)
            @Html.Hidden("Type", (object) @ViewBag.Type)
            <input type="submit" value="Show Json data"/>
        }
    </a>

    <a href="@Url.Action("DownloadJson", "Data", new {})">
        <button type="submit">Download</button>
    </a>
</div>


<table class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Value</th>
    </tr>
    </thead>
    <tbody>

    @foreach (var obj in @Model)
    {
        <tr>
            <td>@obj.Name</td>
            <td>@obj.Type</td>
            <td>
                @if (@obj.Value != null)
                {
                    @obj.Value
                }
                else
                {
                    <button>@Html.ActionLink("Detail", "DetailData", "Data", new {name = obj.Name, type = obj.Type})</button>
                }

            </td>
        </tr>
    }

    </tbody>
</table>

<div class="row align-content-center">
    @if (ViewBag.Pages != null)
    {
        <nav aria-label="Page navigation example">
            <ul class="pagination align-items-center">
                <li class="active page-item">
                    <a href="@Url.Action("SpecificData", "Data", new {page = 1, name = ViewBag.Name, type = ViewBag.Type})" class="page-link">First</a>
                </li>
                <li class="@(ViewBag.CurrentPage > 1 ? "active" : "disabled") page-item">
                    <a href="@Url.Action("SpecificData", "Data", new {page = @ViewBag.CurrentPage - 1, name = ViewBag.Name, type = ViewBag.Type})" class="page-link">Prev</a>
                </li>
                @for (var i = 1; i <= ViewBag.Pages; i++)
                {
                    <li class="@(ViewBag.CurrentPage == i ? "active" : "") page-item">
                        <a href="@Url.Action("SpecificData", "Data", new {page = i, name = ViewBag.Name, type = ViewBag.Type})" class="page-link">@i</a>
                    </li>
                }
                <li class="@(ViewBag.CurrentPage < ViewBag.Pages ? "active" : "disabled") page-item">
                    <a href="@Url.Action("SpecificData", "Data", new {page = @ViewBag.CurrentPage + 1, name = ViewBag.Name, type = ViewBag.Type})" class="page-link">Next</a>
                </li>
                <li class="active page-item">
                    <a href="@Url.Action("SpecificData", "Data", new {page = ViewBag.Pages, name = ViewBag.Name, type = ViewBag.Type})" class="page-link">Last</a>
                </li>
            </ul>
        </nav>
    }

</div>

<button type="button" class="align-content-center">@Html.ActionLink("Back to table", "Index")</button>