@model List<WebApplication3.Models.v4.ModelObjectv4>
@{
    ViewData["Title"] = "Detail";
}

<h1>@ViewBag.Name detail (@ViewBag.Type)</h1>

<div>
    <a href="@Url.Action("GetJson", "Data", new {})">
        @using (Html.BeginForm("GetJson", "Data", FormMethod.Post))
        {
            @Html.Hidden("Name", (object) @ViewBag.Name)
            @Html.Hidden("Type", (object) @ViewBag.Type)
            <input type="submit" value="Show Json data"/>
        }
    </a>

    <a href="@Url.Action("DownloadJson", "Data", new {})">
        <button type="submit">Download</button>
    </a>
</div>


<table class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Value</th>
    </tr>
    </thead>
    <tbody>

    @foreach (var obj in @Model)
    {
        <tr>
            <td>@obj.Name</td>
            <td>@obj.Type</td>
            <td>@obj.Value</td>
        </tr>
    }

    </tbody>
</table>

@* @if (ViewBag.Pages != null) *@
@* { *@
@*     <ul class="pagination"> *@
@*         @for (int i = 1; i <= ViewBag.Pages; i++) *@
@*         { *@
@*             <li class="@(ViewBag.CurrentPage == i ? "active" : "")"> *@
@*                 <a href="@Url.Action("SpecificData", "Visitor", new {page = i})">@i</a> *@
@*              </li> *@
@*          } *@
@*      </ul> *@
@*  } *@

<p>
    <button type="button">@Html.ActionLink("Back to table", "Index")</button>
</p>